.register__input{
    color: white;
    font-weight: normal;
    background-color: black;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 30px 0;
    width: 100%;
    padding-bottom: 13px;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    outline: none;
}

.register__input:last-of-type{
    margin-bottom: 216px;
}