.header__logo{
    margin: 0;
    padding-bottom: 41px;
    max-width: 142px;
}

@media screen and (max-width: 980px){
    .header__logo{
        margin-left: 27px;
        padding-bottom: 31.6px;
        max-width: 103.74px;
        }
    }