.profile__info{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 18px;
    grid-template-rows: auto;
    grid-template-areas: 
    "profile__name profile__edit-button"
    "profile__description .";
    row-gap: 16px;
    column-gap: 18px;
    justify-items: start;
    align-items: center;
}

@media screen and (max-width: 1110px){
    .profile__info{
        justify-items: center;
        grid-template-columns: 18px 1fr 18px;
        grid-template-areas: 
        ". profile__name profile__edit-button"
        ". profile__description .";
        row-gap: 14px;
        column-gap: 10px;
        margin-bottom: 36px;
        }
    }