.popup__submit-button_invalid{
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: white;
    opacity: 0.2;
    color: black;
    cursor: default;
}

.popup__submit-button_invalid:hover{
    opacity: 0.2;
    transition: 0;
}