.profile{
    margin: 0 auto 50px auto;
    max-width: 880px;
    width: calc(100% - 2 * 200px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 1110px){
    .profile{
        margin-bottom: 36px;
        width: calc(100% - 2 * 19px);
        flex-direction: column;
        }
    }