.elements{
    margin: 0 auto 66px auto;
    min-height: 367px;
    max-width: 880px;
    width: calc(100% - 2 * 200px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 17px;
    justify-items: center;
    justify-content: center;
}

@media screen and (max-width: 980px){
    .elements{
    row-gap: 20px;
    margin: 0 auto 48px auto;
        }
    }