.profile__description{
    max-width: 294px;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    grid-area: profile__description;
    align-self: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 980px){
    .profile__description{
        max-width: 189px;
        align-self: center;
        font-size: 14px;
        line-height: 17px;
        }
    }