.footer{
    max-width: 880px;
    width: calc(100% - 2 * 200px);
    margin: 0 auto;
    padding-bottom: 60px;
}

@media screen and (max-width: 980px){
    .footer{
        width: calc(100% - 2 * 19px);
        padding-bottom: 36px;
        }
    }