.element{
    position: relative;
    margin: 0;
    width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #C4C4C4;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}