.error{
    height: calc(44px - 27.26px);
    width: 100%;
    margin-bottom: 13px;
    align-self: flex-start;
    min-height: 12px;
    margin: 0 0 13px 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error:last-child{
    margin-bottom: 31.34px;
}