.profile__avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.profile__avatar::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: calc((100% - 26px) / 2);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    border-radius: 50%;
    background-position: center;
}

.profile__avatar:hover{
   opacity: 1;
}

.profile__avatar:hover:after{
    background-color: black;
    opacity: 0.7;
    transition: 0.2s;
    background-image: url('../../../images/edit-button.svg');
}

@media screen and (max-width: 1110px){
    .profile__avatar{
        margin: 0 auto 26px auto;
        }
    }