.confirm__form{
    margin: 0;
    width: calc(100% - 2 * 36px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 980px){
    .confirm__form{
        width: calc(100% - 2 * 22px); 
        }
    }