.header__button{
    margin: 0;
    border: 1px solid #000000;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
}